doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Create Your Album
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/album.css')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/58a61a6792.js' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.6.0.js')
  script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
  script(src='script.js')
section#Titlebar
  .container-fluid
    .titlebar
      h1#Title=albumName
      .dashboardcontentbuttons
        details.WhiteButton
          summary Edit Name
          form(action="/album/" + albumName method="POST")
            input(type="text" name="albumName" id="albumName" placeholder="New Name").WhiteButton
            button.BlackButton(type="submit" value="Submit") Submit
        button#addPhotosButton.WhiteButton(data-bs-toggle='modal' data-bs-target='#openGallery') Add Photos
        button.WhiteButton(data-bs-toggle='modal' data-bs-target='#removeDuplicates')
          | Remove
          | Duplicates
        button.BlackButton(data-bs-toggle='modal' data-bs-target='#shareModal') Share
// This is supposed to be the modal that opens when 'Add Photos' is clicked. It allows the user to select photos from their gallery. Right now the modal body is empty minus a container-fluid bootstrap div that has the beginnings of a grid in it. When the page loads this should be dynamically populated.
#openGallery.modal.fade(tabindex='-1' aria-labelledby='openGalleryLabel' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#openGalleryLabel.modal-title.fs-5
          | Welcome to your gallery 
          br
          p Select images and press save to add them to your album.
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          #photogallery
            each val in gallery ? gallery : []
              .photo(onclick="handleGalleryPhotoSelection(this)")
                img(src=val)
                p=val.split('/')[val.split('/').length -1]
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal' ) Close
        button.btn.btn-primary(type='button' onclick="addImagesRequest()") Add images
// This is supposed to be the modal that opens when 'Add Photos' is clicked. It allows the user to select photos from their gallery. Right now the modal body is empty minus a container-fluid bootstrap div that has the beginnings of a grid in it. When the page loads this should be dynamically populated.
#openGallery.modal.fade(tabindex='-1' aria-labelledby='openGalleryLabel' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#openGalleryLabel.modal-title.fs-5
          | Welcome to your gallery 
          br
          p Select images and press save to add them to your album.
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          #photogallery
            each val in album ? album : []
              .photo
                img(src=val)
                p=val.split('/')[val.split('/').length -1]
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        button.btn.btn-primary(type='button') Add images
//
  This is the share modal. It needs javascript for the invite button to show a little success message like 'Invite Sent'.
  Copy link also needs 'Link copied.'.
  Download album can have 'Album download starting.'
#shareModal.modal.fade(tabindex='-1' aria-labelledby='shareModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#shareModalLabel.modal-title.fs-5 Share With Friends
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          .input-group.mb-3
            p
              | Invite a friend to collaborate and view this album by copying the link or inputting
              | their email address. They&apos;ll be able to use their own gallery of photos to add to this
              | album. 
              br
              br
              |  Want some extra ways to show off your perfect album? You can share this
              |                                 album by downloading the photos or by purchasing a formatted real-life copy.
            input.form-control(type='text' placeholder="Recipient's email address" aria-label="Recipient's email address" aria-describedby='button-emailaddress')
            button#button-emailaddress.btn.btn-outline-dark(type='button' onclick='alertFeedback(this)') Invite
          .input-group.mb-3
            input.form-control(type='text' disabled='disabled' placeholder='www.photoservice.com/album/1234567' aria-label='www.photoservice.com/album/1234567' aria-describedby='button-copylink')
            button#button-copylink.btn.btn-dark(type='button' onclick='alertFeedback(this)') Copy Link
          button#button-download.btn.btn-outline-dark.btn-share(type='button' onclick='alertFeedback(this)') Download Album (.zip)
          button#button-purchase.btn.btn-outline-dark.btn-share(type='button' onclick='alertFeedback(this)') Purchase Album

// This is the delete duplicates modal.
#removeDuplicates.modal.fade(tabindex='-1' aria-labelledby='removeDuplicatesLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#removeDuplicatesLabel.modal-title.fs-5 Remove Duplicate Photos
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          p
            | You can remove duplicates or similar looking pictures from your album using this feature!
            | The slider below tells us how similar you want a photo to look for it to be considered a
            | duplicate. 
            br
            br
            |  A value of 100% means only identical photos will be removed.
          label.form-label(for='similiaritythreshold') Similarity Threshold
          .range
          form(action="/duplicates/" + albumName method="POST")
            input#similiaritythreshold.form-range(type='range' min='90' max='100' name='similaritythresold' oninput='percentage.value=similiaritythreshold.value')
            output#percentage(name='percentage' for='similiaritythreshold') 95
            span % similarity
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
              button.btn.btn-primary(type='Submit') Remove Photos
// This is the choose a face modal.
#displayFaces.modal.fade(tabindex='-1' aria-labelledby='displayFacesLabel ' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#removeDuplicatesLabel.modal-title.fs-5 Choose a Face From this Photo
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          p
            | Choose a face from this photo.
            br
            br
            |  Select the person you want to add photos to this
            |                             album of from your gallery.
        #displayFacesSelection
          .photo(onclick='handleFaceSelection(this)')
            img(src='../public/zyra.jpg')
            p Photo name
          .photo(onclick='handleFaceSelection(this)')
            img(src='../public/zyra.jpg')
            p Photo name
          .photo(onclick='handleFaceSelection(this)')
            img(src='../public/zyra.jpg')
            p Photo name
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        button.btn.btn-primary(type='button' onclick='sendFacesRequest()') Select
section#albumcreation
  .container-fluid
    #albumcreationcontainers.d-grid
      #container1.container-fluid
        .containername
          h4=albumName
        #carousel.carousel-item.active
          if album[0] !== undefined
            img#expandedimage.testimonial-img(src=album[0] alt='profile')
            p#expandedimagelabel=album[0].split('/')[album[0].split('/').length -1]
          else
            p Images will appear here once you've added some to your album.
        .buttoncontainer
          .buttonoptions
            button.WhiteButton(onclick='searchPhotoForFaces()') Search Photo for Faces
            button.BlackButton Delete Photo
      #container2.container-fluid
        #albumname.containername
          h4=albumName
        .d-grid
          ul
            each val in album ? album : []
              li(onmouseover='expandImage(this)')
                .photo
                  img(src=val)
                  p=val.split('/')[val.split('/').length -1]
script(src='/scripts/albumcreation.js')
// This is the sortable javascript module that allows reordering.
script(type='module').
  import Sortable from 'https://cdn.jsdelivr.net/npm/@shopify/draggable/build/esm/Sortable/Sortable.mjs';
  const sortable = new Sortable(document.querySelectorAll('ul'), {
  draggable: 'li',
  });
  sortable.on('sortable:stop', () => sendReorderedArray());