//This .pug file is for dynamic rendering of the album creation page, where users create their perfect album.
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Create Your Album
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/album.css')
  //bootstrap style sheet
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/58a61a6792.js' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.6.0.js')
  script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
  //this is the header and contains a logo, link to the dashboard, and logout button
.container
  header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-body-emphasis.text-decoration-none(href='/')
      span.fs-4 PhotoService
    .nav.nav-pills
      div.nav-item.text-black
        a.nav-link(href='/dashboard')
          svg.bi.bi-house-door-fill.headericon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z')
          | Dashboard
      div.nav-item.text-black
        a.nav-link(href='#') Logout
  //this shows the album name and has buttons to edit the name, add photos to the album, remove duplicates from the album, and share the album.
section#Titlebar
  .container-fluid
    .titlebar
      h1#Title=albumName
      .dashboardcontentbuttons
        details.WhiteButton
          summary Edit Name
          form(action="/album/" + albumName method="POST")
            input(type="text" name="albumName" id="albumName" placeholder="New Name").WhiteButton
            button.BlackButton(type="submit" value="Submit") Submit
        button#addPhotosButton.WhiteButton(data-bs-toggle='modal' data-bs-target='#openGallery')
          svg.bi.bi-chevron-expand.headericon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z')
          | Add Photos
        button.WhiteButton(data-bs-toggle='modal' data-bs-target='#removeDuplicates')
          svg.bi.bi-chevron-expand.headericon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z')
          | Remove Duplicates
        button.BlackButton(data-bs-toggle='modal' data-bs-target='#shareModal') Share
// This is supposed to be the modal that opens when 'Add Photos' is clicked. It allows the user to select photos from their gallery.
#openGallery.modal.fade(tabindex='-1' aria-labelledby='openGalleryLabel' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#openGalleryLabel.modal-title.fs-5
          | Welcome to your gallery 
          br
          p Select images and press save to add them to your album.
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          #photogallery
            each val in gallery ? gallery : []
              .photo(onclick="handleGalleryPhotoSelection(this)")
                img(src=val)
                p=val.split('/')[val.split('/').length -1]
      .modal-footer
        button.btn.btn-secondary#add-images-close-button(type='button' data-bs-dismiss='modal' ) Close
        button.btn.btn-primary#add-images-button(type='button' onclick="addImagesRequest()") Add images
        div.spinner-border#add-images-spinner(role="status" hidden="true")
          span.visually-hidden Loading
// This is the modal that opens when 'Share' is clicked. It allows the user to input email addresses to invite friends as collaborators, copy a link to the album, download the album as a zip and purchase the album.
#shareModal.modal.fade(tabindex='-1' aria-labelledby='shareModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#shareModalLabel.modal-title.fs-5 Share With Friends
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          .input-group.mb-3
            p
              | Welcome to the Share Options modal! Here, you can manage how you'd like to share your photo album. Collaborate with others by inviting them via email, copy the album link for quick sharing, download the album as a ZIP file to keep it offline, or visit the purchase page for premium features.
              br
              br
            input.form-control(type='text' placeholder="Recipient's email address" aria-label="Recipient's email address" aria-describedby='button-emailaddress')
            button#button-emailaddress.btn.btn-outline-dark(type='button' onclick='inviteSent()') Invite
          .input-group.mb-3
            input.form-control(type='text' disabled='disabled' placeholder='www.photoservice.com/album/1234567' aria-label='www.photoservice.com/album/1234567' aria-describedby='button-copylink')
            button#button-copylink.btn.btn-dark(type='button' onclick='linkCopied()') Copy Link
          button#button-download.btn.btn-outline-dark.btn-share(type='button' onclick='download()') Download Album (.zip)
          button#button-purchase.btn.btn-outline-dark.btn-share(type='button' onclick='purchase()') Purchase Album
// This is the modal that opens when 'Remove Duplicates' is clicked. It allows the user to use a slider to choose how identiical an image must be to be considered a duplicate, and then automatically removes them from the album.
#removeDuplicates.modal.fade(tabindex='-1' aria-labelledby='removeDuplicatesLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#removeDuplicatesLabel.modal-title.fs-5 Remove Duplicate Photos
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          p
            | Welcome to the Remove Duplicates modal! With this feature, you can declutter your album by removing duplicates or similar-looking pictures. 
            br 
            br
            | Use the slider below to set the similarity threshold. A value of 100% ensures only identical photos will be removed.
          label.form-label(for='similiaritythreshold') Similarity Threshold
          .range
          form(action="/duplicates/" + albumName method="POST")
            input#similiaritythreshold.form-range(type='range' min='90' max='100' name='similaritythresold' oninput='percentage.value=similiaritythreshold.value')
            output#percentage(name='percentage' for='similiaritythreshold') 95
            span % similarity
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
              button.btn.btn-primary(type='Submit') Remove Photos
// This is the facial match modal that opens when 'Scan and Find Faces' is clicked. The user is presented with faces in the photo they are currently on and chooses one. Photos with that face are automatically added to the album from the gallery.
#displayFaces.modal.fade(tabindex='-1' aria-labelledby='displayFacesLabel ' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        h1#removeDuplicatesLabel.modal-title.fs-5 Choose a Face From this Photo
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container-fluid
          p
            | Welcome to the Scan and Find Faces modal! This facial match feature scans your photos to detect faces. You then select which specific face you want to use for facial matching. Once chosen, our system will run facial matching on all photos in your gallery, automatically adding matching photos to your album. Use this feature to add all photos containing a specific person to this album!
        #displayFacesSelection
          .photo(onclick='handleFaceSelection(this)')
            img(src='' hidden=true)
      .modal-footer
        button.btn.btn-secondary#find-person-close-button(type='button' data-bs-dismiss='modal') Close
        button.btn.btn-primary#find-person-button(type='button' onclick='sendFacesRequest()') Select
        div.spinner-border#find-person-spinner(role="status" hidden="true")
          span.visually-hidden Loading
//the div on the left shows an expanded version of a selected image on the right          
//the div on the right shows all images in the album. these images can be reordered by dragging and dropping.          
section#albumcreation
  .container-fluid
    #albumcreationcontainers.d-grid
      #container1.container-fluid
        .containername
          h4
        #carousel.carousel-item.active
          if album[0] !== undefined
            img#expandedimage.testimonial-img(src=album[0] alt='profile')
            p#expandedimagelabel=album[0].split('/')[album[0].split('/').length -1]
          else
            p Images will appear here once you've added some to your album.
        .buttoncontainer
          .buttonoptions
            if (album[0] !== undefined)
              button.WhiteButton#find-faces-button(onclick='searchPhotoForFaces()') 
                svg.bi.bi-search.headericon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
                | Scan and Add Faces
              div.spinner-border#find-faces-spinner(role="status" hidden="true")
                span.visually-hidden Loading
              button.BlackButton(onclick='deleteImage()') Delete Photo
      #container2.container-fluid
        #albumname.containername
          h4=albumName
        .d-grid
          ul#albumphotos
            each val in album ? album : []
              li(onmouseover='expandImage(this)')
                .photo
                  img(src=val)
                  p=val.split('/')[val.split('/').length -1]
script(src='/scripts/albumcreation.js')
// This is the sortable javascript module that allows reordering of album images.
script(type='module').
  import Sortable from 'https://cdn.jsdelivr.net/npm/@shopify/draggable/build/esm/Sortable/Sortable.mjs';
  const sortable = new Sortable(document.querySelectorAll('ul'), {
  draggable: 'li',
  });
  sortable.on('sortable:stop', () => sendReorderedArray());